.blog-post-image {
    width: 500px;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto;
  }
  h2, .text{
    text-align: center;
  }
  h2{
    width: 60%;
    margin: auto;
    padding: 50px 0;
  }
  .text{
    width: 60%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  button {
    margin-bottom: 20px; /* Add some space below the button */
  }
  .back-btn{
  background-color: rgba(10, 48, 77, 0.8);
  border-radius: 25px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1100;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  }
  .details{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;

    padding-bottom: 30px;
  }
  .author{
    font-size: 11px;
    margin: 0;
    display: flex;
    padding-right: 20px;
  }
  .date{
    font-size: 11px;
    margin: 0;
    display: flex;
  }
  .ad-placeholder {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    .ad-img {
      width: 100%; /* Adjust width as needed */
      max-width: 500px; /* Adjust max-width as needed */
      height: auto; /* Maintain aspect ratio */
    }
  }

  @media (max-width: 768px){
    .blog-post-image, .ad-img {
      width: 400px;
    }
    h2, .text{
      width: 80%;
    }
  }

  @media (max-width: 480px)
  {
    .blog-post-image, .ad-img {
      width: 280px;
    }
    .details{
      width: 80%;
      justify-content: space-between;
    }
    h2, .text{
      width: 90%;
    }
  }
 